#!/usr/bin/env php
<?php

require_once('vendor/autoload.php');

$configPath = './config/git-files-changes-hooks-config.php';
$config = new \Noodlehaus\Config($configPath);

$options = $config->get('post-merge');

$hook = new \Vamakin\GitFilesChangesHooks\Hooks\PostMergeHook($argv);
$handler = new \Vamakin\GitFilesChangesHooks\Handler($hook);

foreach ($options as $mask => $command) {
    $handler->addCommand($mask, new $command);
}

$handler->handle();

exit(0);
