#!/usr/bin/env php
<?php

require_once('vendor/autoload.php');

$configPath = './config/php-pachages-synchronizer.php';
$config = new \Noodlehaus\Config($configPath);

$postMergeOptions = $config->get('post-merge');

$hook = new \Vamakin\PhpPackagesSynchronizer\Hooks\PostCheckoutHook($argv);
$handler = new \Vamakin\PhpPackagesSynchronizer\Handler($hook);

foreach ($postMergeOptions as $mask => $command) {
    $handler->addCommand($mask, new $command);
}

$handler->handle();

exit(0);
